*.*~
*.swp
_donotcommit/*.*
/_donotcommit/*.*
_donotcommit/tiled_examples/desert.tmx

_donotcommit/tiled_examples/desert.tsx

_donotcommit/tiled_examples/isometric_grass_and_water.png

_donotcommit/tiled_examples/isometric_grass_and_water.tmx

_donotcommit/tiled_examples/perspective_walls.png


_donotcommit/tiled_examples/tmw_desert_spacing.png

_donotcommit/tiled_examples/sewers.tmx

_donotcommit/tiled_examples/sewer_tileset.png

_donotcommit/tiled_examples/sewer_automap/sewers.tmx

_donotcommit/tiled_examples/sewer_automap/rules_sewers.png

_donotcommit/tiled_examples/perspective_walls.tmx

_donotcommit/tiled_examples/perspective_walls.tsx

_donotcommit/tiled_examples/sewer_automap/rule_001.tmx

_donotcommit/tiled_examples/sewer_automap/rule_002.tmx

_donotcommit/tiled_examples/sewer_automap/rule_003.tmx

_donotcommit/tiled_examples/sewer_automap/rule_004.tmx

_donotcommit/tiled_examples/sewer_automap/rule_005.tmx

_donotcommit/tiled_examples/sewer_automap/rule_006.tmx

_donotcommit/tiled_examples/sewer_automap/rule_007.tmx

_donotcommit/tiled_examples/sewer_automap/rule_008.tmx

_donotcommit/tiled_examples/sewer_automap/rule_009.tmx

_donotcommit/tiled_examples/sewer_automap/rules.txt

resources/DSC_0696.JPG

resources/DSC_0696.png

scribbles.txt

test.py
